.auto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.logo {
  height: 70px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}

input {
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 0.15rem 0.25rem;
}

.pos-rel {
  position: relative;
}

.autoContainer {
  position: absolute;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: grey;
  background-color: whitesmoke;
  top: 30px;
  height: 200px;
  overflow: auto;
  width: 100%;
  z-index: 99;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
